<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/assets/css/loading.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/assets/images/logo-loading.png" alt="" class="logo-img">
            <p class="subtitulo">Un programa para estudiar pseudocódigos.</p>
        </div>
        <div class="credits">
            <p class="programmed-by">programmed by tc</p>
            <p class="taller-instagram"><a href="https://damk.vercel.app">@tc_insuco</a></p>
        </div>
    </div>
   
</body>
</html>